body {
    background-color: blueviolet;
    margin: 0; padding: 0;
}

header {
    height: 5rem;
    width: 100vw;
    background-color: azure;
    position: fixed;
    top:0;
    left:0;
    text-align: center;
}
main {
    position: fixed;
    top: 5rem;
    left: 0;
}